extends layout
block content
  ol.breadcrumb
    li
      a(href='/grupo') Inicio
    li.active Crear Post
  form(method='POST', action='/signup')
    .form-group
      label(for='title') Título
      input#title.form-control(type='text', placeholder='Viaje a la islas...', name='title')
    .form-group
      label(for='text') Contenido
      textarea#text.form-control(type='text', placeholder='...', name='text', rows='3')
    .form-group
      label.btn.btn-primary(for='photo')
        input#photo(type='file', style='display:none;', name='photo')
        | Buscar foto #[span.small (opcional)]
    .form-group
      label(for='category') Categoría
      select#category.form-control
        option Categoría 1
        option Categoría 2
        option Categoría 3
    p.bg-danger.text-danger.text-center(style='padding:10px;') No puso contenido.
    button.btn.btn-primary(type='submit', style='margin-bottom:1em;') Guardar
