doctype html
html(lang='es')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Project-Test Grupo 1
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    style.
      body {
        padding-top: 20px;
        padding-bottom: 20px;
      }
      .header,
      .marketing,
      .footer {
        padding-right: 15px;
        padding-left: 15px;
      }
      .header {
        padding-bottom: 20px;
        border-bottom: 1px solid #e5e5e5;
      }
      .header h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
      }
      .footer {
        padding-top: 19px;
        color: #777;
        border-top: 1px solid #e5e5e5;
      }
      @media (min-width: 768px) {
        .container {
          max-width: 730px;
        }
      }
      .container-narrow > hr {
        margin: 30px 0;
      }
      .jumbotron {
        text-align: center;
        border-bottom: 1px solid #e5e5e5;
      }
      .jumbotron .btn {
        padding: 14px 24px;
        font-size: 21px;
      }
      .marketing {
        margin: 40px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
      @media screen and (min-width: 768px) {
        .header,
        .marketing,
        .footer {
          padding-right: 0;
          padding-left: 0;
        }
        .header {
          margin-bottom: 30px;
        }
        .jumbotron {
          border-bottom: 0;
        }
      }

  body
    .container
      .header.clearfix
        nav
          ul.nav.nav-pills.pull-right
            li(role='presentation')
              a(href='#') Salir
        h3.text-muted Project-Test
      block content
      footer.footer
        p 2017 Project-Test de Dimitrio Mandamadiotis.
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
