doctype html
html(lang='es')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Error
    link(href='/css/bootstrap.min.css', rel='stylesheet')

  body
    .container
      .jumbotron.text-center
        h1 #{message} #[span.small=error.status]
        p Parece que llegaste al vacio.
        img(src='/void.svg', alt='vacio', width='300px')
        h1
          a(href='/') Regresar
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
