doctype html
html(lang='es')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Project-Test Index
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    style.
      .btn {
        margin-right: 1em;
      }
      html, body, .container {
        height: 100%;
      }
      .container {
        display: flex;
        justify-content: center;
        align-items: center;
      }
  body
    .container
      .jumbotron
        h1 ¡Bienvenido a Project-Test!
        p Este proyecto consiste en una aplicación web que contiene un registro y login de usuarios. Los usuarios deben escoger un grupo para formar parte y no podrán acceder al contenido de otros grupos.
        p En los grupos están definidas categorías para que el usuario pueda postear contenido que consiste en un texto y una imagen opcional. Cada post puede ser comentado por otros miembros del grupo.
        p.text-center
          a.btn.btn-primary.btn-lg(href='/login', role='button') Ingresar
          a.btn.btn-primary.btn-lg(href='/signup', role='button') Registrarse
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
