doctype html
html(lang='es')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Project-Test Login
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    style.
      .btn {
        margin-right: 1em;
      }
      html, body, .container {
        height: 100%;
      }
      .container {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .bg-danger {
        padding: 10px;
      }
  body
    .container
      .panel.panel-default
        .panel-heading
          h3.panel-title Ingresar
        .panel-body
          form(method='POST', action='/login')
            .form-group
              label(for='email') Email
              input#email.form-control(type='email', placeholder='Email', name='email')
            .form-group
              label(for='password') Contraseña
              input#password.form-control(type='password', placeholder='Password')
            p.bg-danger.text-danger.text-center Contraseña incorrecta.
            button.btn.btn-primary(type='submit') Enviar
            a.btn.btn-default(href='/signup', role='button') Registrarse
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
