doctype html
html(lang='es')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Project-Test SignUp
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    style.
      .btn {
        margin-right: 1em;
      }
      html, body, .container {
        height: 100%;
      }
      .container {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .bg-danger {
        padding: 10px;
      }
      .panel {
        width: 50%
      }
      @media (max-width: 768px) {
        .panel {
          width: 100%;
        }
      }
  body
    .container
      .panel.panel-default
        .panel-heading
          h3.panel-title Registro
        .panel-body
          form(method='POST', action='/signup', enctype="multipart/form-data")
            .form-group
              label(for='firstname') Nombre
              input#firstname.form-control(type='text', placeholder='Pedro', name='firstname', required)
            .form-group
              label(for='lastname') Apellido
              input#lastname.form-control(type='text', placeholder='Ramirez', name='lastname', required)
            .form-group
              label(for='email') Email
              input#email.form-control(type='email', placeholder='pedro.ramirez@email.com', name='email', required)
            .form-group
              label(for='password') Contraseña
              input#password.form-control(type='password', placeholder='Password', name='password', required)
            .form-group
              .radio
                label
                  input#male(type='radio', name='gender', value='male', checked)
                  |     Masculino
              .radio
                label
                  input#female(type='radio', name='gender', value='female')
                  |     Femenino
            .form-group
              label(for='group') Grupo
              select#group.form-control(name='group', required)
                each group in groups
                  option= group
            .form-group
              label.btn.btn-primary(for='photo')
                input#photo(type='file', style='display:none;', name='avatar', required)
                | Buscar foto
            button.btn.btn-primary(type='submit') Enviar
            a.btn.btn-default(href='/login', role='button') Ingresar
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
