extends layout
block content
  ol.breadcrumb
    li
      a(href='/grupo') Inicio
    li.active Categoria 1
  .row
    .col-sm-6.col-md-4
      .thumbnail
        img(src='https://placehold.it/1024x576', alt='...')
        .caption
          h3 Título del Post
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          p
            a.btn.btn-primary(href='#', role='button') Leer mas...
    .col-sm-6.col-md-4
      .thumbnail
        img(src='https://placehold.it/1024x576', alt='...')
        .caption
          h3 Título del Post
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          p
            a.btn.btn-primary(href='#', role='button') Leer mas...

    .col-sm-6.col-md-4
      .thumbnail
        img(src='https://placehold.it/1024x576', alt='...')
        .caption
          h3 Título del Post
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          p
            a.btn.btn-primary(href='#', role='button') Leer mas...
