extends layout
block content
  ol.breadcrumb
    li.active Inicio
  .jumbotron
    h1 Grupo 1
    p.lead Este grupo es de personas apasionadas, puedes leer todos los post de los usuarios sobre experiencias nuevas o sobre problemas que hán tenido y comentarlos.
    p
      a.btn.btn-lg.btn-success(href='/grupo/create_post', role='button') Crear Post
  .row.marketing
    .col-lg-6
      .panel.panel-default
        .panel-body
          h4 Categoria 1
      .panel.panel-default
        .panel-body
          h4 Categoria 1
      .panel.panel-default
        .panel-body
          h4 Categoria 1
    .col-lg-6
      .panel.panel-default
        .panel-body
          h4 Categoria 1
      .panel.panel-default
        .panel-body
          h4 Categoria 1
      .panel.panel-default
        .panel-body
          h4 Categoria 1
